@import 'vars';
@import 'mixins';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.doktori{
    width: 70%;
    margin: 0 auto;
    padding: 3rem;
}
h1{
    text-align: center;
    color: $color-blue;
    margin-bottom: 2rem;
}

table{
    width: 100%;
    text-align: left;
    border-collapse: collapse;
    border-color: $color-blue--border;
    @include border-clear;
    tr{
        th{
            border-color: $color-blue--border;
            background-color: $color-blue--headings;
            padding: 1rem 0;
            @include border-clear;
        }
        td{

            border-color: $color-blue--border;
            padding: 1rem 0;
            @include border-clear;
        }
        &:nth-child(odd){
            background-color:  $color-blue-light;

        }
    }
}