@import 'vars';
@import 'mixins';

*{
    margin: 0;
    box-sizing: border-box;
}
.doktori{
    text-align: center;
    width: 70%;
    margin: 0 auto;
    padding: 3rem;
}
h1{
    color: blue;
    margin-bottom: 2rem;
}

table{
    width: 100%;
    border-collapse: collapse;

    @include border-clear;
    tr{
        
        th{
            background-color: white;
            border-left: none;
            border-right: none;
        }
        td{

            border-left: none;
            border-right: none;
        }
        &:nth-child(odd){
            background-color: aqua;

        }
    }
}